head, body, header, aside, h2, section{
  margin: 0;
  padding:0;
  border:0;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

/* section{
  width: 200px;
} */
li{
  list-style: none;
  font-family:Papyrus,fantasy;
}

img {
  width: 100%;
  
}
body{

  font-family: "Comic Sans MS", Times;
  line-height: 1.5;
}

